label,
input {
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: 400;
}

input {
    border: 2px solid black;
    border-radius: 1em;
    padding: .5em;
    background-color: var(--col-primary);
    outline: none;
}

label {
    margin-bottom: .2em;
}

p {
    text-align: center;
}

.center {
    text-align: center;
}