nav {
    position: sticky;
    top: 0;
    background-color: var(--col-primary);
    border-bottom: 1px solid var(--col-dark);
}

nav, ul {
    display: flex;
    list-style-type: none;
}

.navlink:hover {

    background-color: rgba(1,1,1,0.1);
}

.navlink:active {

    background-color: rgba(1,1,1,0.2);
}

li a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    color: var( --col-dark);
    display: block;
    padding: 1em;
}

li a:active {
    transform: scale(0.95);
}