<nav>
    <ul>
        <li>
            <img src="../../../../assets/logo.png" alt="pokemon logo">
        </li>
        <ng-container *ngIf="hasActiveSession">
            <li class="navlink">
                <a routerLink="/trainer">Trainer</a>
            </li>
            <li class="navlink">
                <a routerLink="/pokemon">Pokemon</a>
            </li>
            <li class="navlink left">
                <a (click)="logout()">Logout</a>
            </li>
        </ng-container>
    </ul>
</nav>