nav {
    position: sticky;
    top: 0;
    background-color: var(--col-yellow);
}

nav, ul {
    display: flex;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: var(--col-red);
    display: block;
    padding: 1em;
}