.pokemon-grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(220px, 1fr));
    gap: 1em;
    list-style-type: none;
}

.pokemon-grid li {
    background-color: var(--col-primary);
    border: 2px solid black;
    border-radius: .5em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: capitalize;
    padding: .2em;
}

.pokemon-grid li:active {
    background-color: var(--col-light);
    outline: none;
}

.pokemon-grid li:focus {
    outline: none;
}

.pokemon-grid li img {
    display: block;
    margin: 0 auto;
    width: 96px;
    height: 96px;
}