<app-container>
    <ng-container *ngIf="!pokemon">
        <h1>Loading</h1>
    </ng-container>
    <ng-container *ngIf="pokemon">
        <h1>Pokemon Detail</h1>
            <app-pokemon-profile-header [pokemon]="pokemon"></app-pokemon-profile-header>
            <app-pokemon-profile [pokemon]="pokemon"></app-pokemon-profile>
            <app-pokemon-moves [pokemon]="pokemon"></app-pokemon-moves>
        <app-base-button (onClick)="handleCollect()" *ngIf="!collectedPokemon">Collect</app-base-button>
        <app-base-button (onClick)="handleRemove()" *ngIf="collectedPokemon">Remove</app-base-button>
    </ng-container>
</app-container>
