.flex-container {
    display: flex;
    justify-content: center;
}

.flex-col {
    width: 25%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    background-color: var(--col-primary);
    padding: 0.4em;
    border: 2px solid black;
    border-radius: 1em;
}

ul {
    list-style-type: none;
}